@import url("https://fonts.googleapis.com/css2?family=Mali:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
.fontTag {
  font-family: "Mali", cursive;
}
.back-cover {
  background-image: url(../public/image/12.webp);
  width: 100vw;
}
.back-color {
  background-color: rgba(127, 54, 103, 0.6);
  width: 100vw;
  height: 83.5vh;
}
.minHeight {
  display: flex;
  align-items: center;
  height: 83.5vh;
}
.fontH1 {
  font-size: 2em;
  font-family: "Architects Daughter", cursive;
  text-shadow: 3px 10px rgba(117, 17, 50, 0.5);
}
