@import url("https://fonts.googleapis.com/css2?family=Mali:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
.fontH1 {
  font-size: 4em;
  font-family: "Architects Daughter", cursive;
  text-shadow: 3px 10px black;
}

.back {
  background-color: #131820;
  background-image: url(../public/image/2.png);
  background-repeat: no-repeat;
}

.font-title {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-header {
  color: white;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.box {
  height: 200px;
  width: 500px !important;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 5px;
}

.flex {
  display: flex;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}
@media (max-width: 768px) {
  .back {
    background-image: none;
  }
  .fontH1 {
    font-size: 3em;
    font-family: "Architects Daughter", cursive;
    text-shadow: 3px 10px black;
  }
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vw;
    text-align: center;
  }
}
@media (max-width: 1024px) {
}
