.back {
  background-color: black;
}
/* .content {
  height: 100vh;
} */
.content-header {
  color: white;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image {
  width: 30%;
}
