.about {
  box-sizing: border-box;
  height: 75vh;
  z-index: 99;
}

.text {
  z-index: 999;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
.text h4,
td {
  color: white;
}
.image-width {
  width: 60%;
}
.back1 {
  background: #131820;
  height: 65vh;
  width: 85vw;
  margin-top: 100px;
  margin-left: 7vw;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  z-index: 98;
}

.back1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#37a684, white);
  animation: animate 20s linear infinite;
  z-index: 1;
}
.back1::after {
  content: "";
  position: absolute;
  inset: 6px;
  background-color: #131820;
  border-radius: 10px;
  z-index: 98;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(350deg);
  }
}
.box h2 {
  color: white;
  font-size: 10em;
}
@media (max-width: 768px) {
  .about {
    box-sizing: border-box;
    height: 100vh;
    z-index: 99;
  }
  .back {
    background-image: none;
  }
  .info {
    padding: 10%;
  }
  .back1 {
    margin-top: 100px;
    background: #131820;
    height: 100vh;
    width: 80vw;
    margin-left: 10vw;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    z-index: 98;
  }
  .text {
    z-index: 999;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .about {
    box-sizing: border-box;
    height: 100vh;
    z-index: 99;
  }
  .image-width {
    width: 60%;
    margin-left: 20%;
  }
  .text {
    z-index: 999;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .back1 {
    margin-top: 100px;
    background: #131820;
    height: 100vh;
    width: 80vw;
    margin-left: 10vw;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    z-index: 98;
  }
  .info {
    margin: 0px 10px 10px 0;
  }
  .text h4,
  li {
    color: white;
    font-size: 0.8em;
  }
}
