@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");
.fontTag {
  font-family: "Kalam", cursive;
}
ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-bottom: 0 !important;
  text-decoration: none;
}
li {
  margin-left: 100px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: black;
}

.back {
  background-color: rgba(117, 17, 50, 0.5);
}
